/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1rem;

  background-color: transparent;
  margin: 1px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* html {
  height: 100%;
} */
